{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <meta property="og:title" content="Обо мне">
    <meta property="og:description" content="Я Елена Николаевна Шаповалова в первую очередь многодетная мама.">
    <meta property="og:image" content="{% static 'img/фотоновое.png' %}">
    <meta property="og:url" content="https://logopedelena.ru/about">
    <meta property="og:type" content="article">
{% endblock %}

{% block title %}Обо мне{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<section class="about-me-section">
  <div class="about-me-container">
    <div class="about-me-text-container">
      <div class="title1">
        <h2>Обо мне</h2>
        <div class="underline"></div>
      </div>
      <p class="about-me-text">Я Елена Николаевна Шаповалова в первую очередь многодетная мама.</p>
      <p class="about-me-text">В своей профессиональной деятельности для меня важно заниматься повышением квалификации и своим саморазвитием.</p>
      <div class="adv">
        <div class="experience-card">
          <div class="experience-year">2023 год:</div>
          <div class="experience-description">Квалификационное повышение по программе "Логопедическое тейпирование"</div>
        </div>
          <div class="experience-card">
          <div class="experience-year">2022 год:</div>
          <div class="experience-description">Повышение квалификации по профессиональной программе "Логопедический массаж"</div>
        </div>
        <div class="experience-card">
          <div class="experience-year">2019 год:</div>
          <div class="experience-description">Профессиональная переподготовка в Московской академии</div>
        </div>
        <div class="experience-card">
          <div class="experience-year">2016 год:</div>
          <div class="experience-description">Программа бакалавриата по направлению педагогическое образование</div>
        </div>
        <div class="experience-card">
          <div class="experience-year">2005 год:</div>
          <div class="experience-description">Окончила Донской Педагогический Колледж</div>
        </div>
          <div class="experience-card">
          <div class="experience-description">Прошла профессиональную переподготовку в Академии психологии и педагогики</div>
        </div>
      </div>
    </div>
    <div class="about-me-photo-container">
      <div class="background-image" style="background-image: url('{% static 'img/фон3.PNG' %}'); width: 100vw; right: 0; transform: translateX(50%);"></div>
      <div class="photo-frame">
        <img src="{% static 'img/фотоновое.png' %}" alt="Your Photo">
      </div>
    </div>
  </div>
</section>
<section class="certificate-section" id="certificate-section" style="background-image: url('{% static 'img/фон3.PNG' %}');">
    <div class="title1">
        <h2>Сертификаты</h2>
        <hr class="underline">
      </div>
    <div class="certificate-gallery">
        <div class="certificate-item">
            <img src="{% static 'img/серт1.jpg' %}" alt="Сертификат 1">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт2.jpg' %}" alt="Сертификат 2">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт3.jpg' %}" alt="Сертификат 3">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт4.jpg' %}" alt="Сертификат 4">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт5.jpg' %}" alt="Сертификат 5">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт6.jpg' %}" alt="Сертификат 6">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт7.jpg' %}" alt="Сертификат 7">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт8.jpg' %}" alt="Сертификат 8">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт9.jpg' %}" alt="Сертификат 9">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт10.jpg' %}" alt="Сертификат 10">
        </div>
    </div>
</section>

    <div id="modal-container">
        <div class="modal-background"></div>
        <div class="modal-content">
            <span class="modal-close">&times;</span>
            <img src="{% static 'img/серт1.jpg' %}" alt="Полноразмерный сертификат">
        </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт2.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт3.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт4.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт5.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт6.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт7.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт8.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт9.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт10.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт11.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт12.jpg' %}" alt="Полноразмерный сертификат">
    </div>
</div>
{% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% endblock %}