{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обо мне</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/Снимок3.png' %}" alt="Логотип">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'services' %}">Услуги</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                <li><a href="{% url 'about' %}">Обо мне</a></li>
            </ul>
        </nav>
        <div class="appointment">
            <a href="{% url 'services' %}#appointment-form" class="button">Записаться на приём</a>
        </div>
    </header>

    <section class="about-me-section" style="background-image: url('{% static 'img/фон3.PNG' %}');">

          <h2 class="about-me-title">Обо мне</h2>
          <div class="underline1"></div>
                <div class="about-me-container">
                  <div class="about-me-text">
            <p>
              Я Елена Николаевна Шаповалова в первую очередь многодетная мама. <br>В своей профессиональной деятельности для меня важно заниматься повышением<br> квалификации и своим саморазвитием.
            </p>
          </div>
          <div class="about-me-content">

            <div class="advantages">
              <div class="advantage-card">
                <p>В 2023 году прошла <br>квалификационное повышение <br>по программе <br>"Логопедическое тейпирование в системе<br> комплексной коррекционной работы <br>по преодолению речевых нарушений"</p>
              </div>
              <div class="advantage-card">
                <p>Прошла профессиональную <br>переподготовку в Академии <br>психологии и педагогики</p>
              </div>
              <div class="advantage-card">
                <p>В 2019 году прошла<br> профессиональную <br>переподготовку<br> в Московской академии</p>
              </div>
              <div class="advantage-card">
                <p>В 2016 году освоила <br>программу бакалавриата по<br> направлению<br> педагогическое образование</p>
              </div>
              <div class="advantage-card">
                <p>В 2022 году прошла повышение<br> квалификации по профессиональной <br>программе "Логопедический массаж<br> в комплексной системе<br> преодоления речевых нарушений"</p>
              </div>

              <div class="advantage-card">
                <p>В 2005 году окончила<br> Донской Педагогический <br>Колледж</p>
              </div>
            </div>
          </div>
          <div class="about-me-photo">
            <div class="photo-frame">
              <img src="{% static 'img/фотка5.png' %}" alt="Your Photo">
            </div>
          </div>
        </div>
      </section>











<section class="certificate-section">
    <div class="title1">
        <h2>Сертификаты</h2>
        <hr class="underline">
      </div>
    <div class="certificate-gallery">
        <div class="certificate-item">
            <img src="{% static 'img/серт1.jpg' %}" alt="Сертификат 1">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт2.jpg' %}" alt="Сертификат 2">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт3.jpg' %}" alt="Сертификат 3">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт4.jpg' %}" alt="Сертификат 4">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт5.jpg' %}" alt="Сертификат 5">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт6.jpg' %}" alt="Сертификат 6">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт7.jpg' %}" alt="Сертификат 7">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт8.jpg' %}" alt="Сертификат 8">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт9.jpg' %}" alt="Сертификат 9">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт10.jpg' %}" alt="Сертификат 10">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт11.jpg' %}" alt="Сертификат 11">
        </div>
        <div class="certificate-item">
            <img src="{% static 'img/серт12.jpg' %}" alt="Сертификат 12">
        </div>
    </div>
</section>

    <div id="modal-container">
        <div class="modal-background"></div>
        <div class="modal-content">
            <span class="modal-close">&times;</span>
            <img src="{% static 'img/серт1.jpg' %}" alt="Полноразмерный сертификат">
        </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт2.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт3.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт4.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт5.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт6.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт7.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт8.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт9.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт10.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт11.jpg' %}" alt="Полноразмерный сертификат">
    </div>
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="{% static 'img/серт12.jpg' %}" alt="Полноразмерный сертификат">
    </div>
</div>
<footer>
    <div class="footer-column">
      <img src="{% static 'img/Снимок3.png' %}" alt="Логотип">
    </div>
    <div class="footer-column">
      <h3>Контакты</h3>
      <p>+7(908)506-86-97</p>
      <p>shapovalova.ale@yanndex.ru</p>
      <p>г.Новочеркасск, р-н Молодежный, Речная 38</p>
    </div>
    <div class="footer-column">
      <h3>Режим работы</h3>
      <p>с 10:00 до 19:00 (пн-Сб)</p>
    </div>
    <div class="footer-column">
      <h3>Мои соц. сети</h3>
      <div class="social-icons">
        <a href="https://vk.com/id461825566"><img src="{% static 'img/vk.png' %}" alt="Vk"></a>
        <a href="https://wa.me/79085068697"><img src="{% static 'img/wats.png' %}" alt="Whatsapp"></a>
        <a href="https://t.me/Alenahapovalova"><img src="{% static 'img/tg.png' %}" alt="Telegram"></a>
      </div>
    </div>
  </footer>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>