<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Статья 1</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/stati.css' %}">
</head>
<body>
<div class="article">
  <img src="{% static 'img/статья1.jpg' %}" alt="Изображение статьи">
  <h1>В каких еще случаях поможет логопедический зондовый массаж?</h1>
  <p>При моторной алалии, когда у ребенка задержка речевого развития и нужен мощный толчок для «запуска» речи.<br>
     Задача массажа — улучшить поступление сигналов в головной мозг, для развития пораженных отделов.<br>
      После процедуры пациент начнёт звукоподражать.<br>
    при дизартрии (расстройства произношения, вызванного нарушением иннервации органов артикуляции), в том числе при ДЦП. Нормализуется тонус мускулатуры, улучшается проводимость нервных импульсов.<br>
    при заикании, для снижения тонуса мышц артикуляторов.<br>
    используется при реабилитации утраченных речевых функций у взрослых пациентов, перенесших острое нарушение мозгового кровообращения. Улучшается произносительный аспект речи, нормализуется тонус пораженных мышц, снижается гиперсаливация, улучшается жевание и глотание.<br>
    при гиперсаливации (повышенном слюноотделении) в любом возрасте.<br>
    при нарушении глотания и жевания.<br>
    при ограниченной подвижности языка, вследствие укорочения подъязычной связки. При легком нарушении массаж улучшит её эластичность. При более выраженном нарушении подъема потребуется хирургическое вмешательство.<br>
    при ринолалии.  Логопедический массаж разгладит рубцы, негативно влияющие на подвижности органов, послеоперационные швы, улучшит работу мышц.</p>
</div>
</body>
</html>
