{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <meta property="og:title" content="Контакты">
    <meta property="og:description" content="Контактная информация и отзывы о логопеде Елене Николаевне Шаповаловой">
    <meta property="og:image" content="{% static 'img/фон.PNG' %}">
    <meta property="og:url" content="https://logopedelena.ru/contacts">
    <meta property="og:type" content="article">
{% endblock %}

{% block title %}Контакты{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

    <section class="contacts-section" style="background-image: url('{% static 'img/фон.PNG' %}');">
 <div class="contacts-info">
    <h2 class="section-title">Контакты</h2>
    <div class="underline"></div>
    <p class="contact-address"><a href="tel:+79085068697">+7(908)506-86-97</a></p>
    <p class="contact-email"><a href="mailto:logopedelenanovocherkassk@gmail.com">logopedelenanovocherkassk@gmail.com</a></p>
    <p class="contact-location"><a href="https://www.google.com/maps/search/?api=1&query=г.Новочеркасск, р-н Молодежный, ул.Речная 38">г.Новочеркасск, р-н Молодежный, ул.Речная 38</a></p>
</div>
        <div class="map-container">
                <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/238/novocherkassk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Новочеркасск</a><a href="https://yandex.ru/maps/238/novocherkassk/house/rechnaya_ulitsa_38/YEkYdgFhQEMHQFptfXh5eHVmYg==/?ll=40.061960%2C47.489956&utm_medium=mapframe&utm_source=maps&z=16.71" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты — транспорт, навигация, поиск мест</a><iframe src="https://yandex.ru/map-widget/v1/?ll=40.061960%2C47.489956&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNTM1MTg4NDI4EmjQoNC-0YHRgdC40Y8sINCg0L7RgdGC0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQndC-0LLQvtGH0LXRgNC60LDRgdGB0LosINCg0LXRh9C90LDRjyDRg9C70LjRhtCwLCAzOCIKDXQ_IEIVt_U9Qg%2C%2C&z=16.71" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
    </section>

<section class="reviews" id="reviews-section" style="background-image: url('{% static 'img/фон3.PNG' %}');">
    <div class="section-title">
        <h2>Отзывы</h2>
       <div class="underline"></div>
      </div>
        <div class="container2">
            <div class="review">
                <div class="user">Ирина Гусева</div>
                <div class="message">Елена, вы отличный специалист! Благодаря вашей помощи мой ребенок значительно улучшил свою речь.</div>
            </div>
            <div class="review">
            <div class="user">Мария Алехина</div>
            <div class="message">Елена, спасибо вам большое за ваш индивидуальный подход к каждому ребенку</div>
        </div>
        <div class="review">
            <div class="user">Андрей Сидоренко</div>
            <div class="message">Спасибо за терпение и внимание к деталям. Результаты превзошли ожидания!</div>
        </div>
        <div class="review">
            <div class="user">Марина Кузьменко</div>
            <div class="message">Большое спасибо, Елена, за проделанную работу с ребенком. Вы действительно грамотный специалист в этой сфере. По итогу получили очень хорошие результаты и откоректировали существующие проблемы.</div>
        </div>
        <div class="review">
            <div class="user">Виктория Семенова</div>
            <div class="message">Елена Николаевна, спасибо вам большое за занятия с Сашей. Ей было очень интересно и она с удовольствием посещает ваши занятия! Почти с первого занятия у нее уже получилось выговаривать шипящие! Спасибо за труд, теперь она хорошо проговаривает звуки и готова к школе!</div>
        </div>
        <div class="review">
            <div class="user">Валерия Швец</div>
            <div class="message">Спасибо вам большое за успехи сына! Вы умеете находить подход к деткам и заинтересовать их! Очень вам благодарна.</div>
        </div>
        <div class="review">
            <div class="user">Валентина Грись</div>
            <div class="message">Отличный педагог!!! Легко нашла общий язык с моим сыном, на занятия ходят с удовольствием. За пару месяцев занятий ребенок стал чисто и красиво проговаривать все звуки.</div>
        </div>
        <div class="review">
            <div class="user">Екатерина Бессмертная</div>
            <div class="message">Сын посещает занятия у логопеда Елены, очень высококвалифицированный специалист, тот прогресс, которого она достигла с моим сыном, это что-то невероятное, мы продолжаем к ней ходить, я думаю, что именно она сможет сделать так, чтобы до школы мой ребенок заговорил нормально.</div>
        </div>
        <div class="review">
            <div class="user">Анастасия Зинченко</div>
            <div class="message">После долгих поисков мы наконец нашли замечательного логопеда! Мы обратились к Елене с проблемой недоразвития речи у нашего ребенка, и не могли быть счастливее результатом. Елена демонстрирует высокий профессионализм и заботу к каждому своему пациенту. Она внимательно выслушала наши опасения и разработала индивидуальную программу коррекции речи для нашего ребенка. Благодаря её креативному подходу и эмпатии, мы видим заметные улучшения в речи нашего ребенка уже через несколько недель. Мы безмерно благодарны Елене за её профессионализм, терпение и поддержку!</div>
        </div>
        </div>
    </section>
{% endblock %}