{% extends 'layout.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

<section class="welcome-section" style="background-image: url('{% static 'img/фон11.PNG' %}');">

    <div class="welcome-text">
      <h1 class="section-title">Добро пожаловать <br> на сайт логопеда!</h1>
      <p>Профессиональная диагностика, <br>
          консультация и коррекция<br>
          нарушений речи</p>
      <a href="{% url 'services' %}#appointment-form" class="button1">Записаться на приём</a>
    </div>
       <div class="image-container">
      <img src="{% static 'img/детиии.png' %}" alt="Логопед">
    </div>
  </section>

<section class="featured-articles" style="background-image: url('{% static 'img/фон2.PNG' %}');">
   <div class="section-title">
    <h2>Статьи</h2>
    <hr class="underline7">
  </div>
<section class="other-articles">
    {% for article in all_articles %}
      <div class="article">
        {% if article.image %}
          <img src="{{ article.image.url }}" alt="{{ article.title }}">
        {% endif %}
        <div class="caption">
          <h3>{{ article.title }}</h3>
          <a href="{% url 'article_detail' article.pk %}" class="read-more-link">Читать далее</a>
        </div>
      </div>
    {% endfor %}
  <div class="buttons-container">
    <button id="showMoreButton">Показать еще</button>
    <button id="hideButton" style="display: none;">Скрыть</button>
  </div>
</section>
    </section>


 <section class="advantages" style="background-image: url('{% static 'img/фон2.PNG' %}');">
    <div class="section-title">
      <h2>Преимущества работы со мной</h2>
      <hr class="underline">
    </div>
    <div class="container1">
      <div class="advantage">
        <div class="content">
          <h3>Индивидуальный подход</h3>
          <p>Я глубоко понимаю потребности каждого своего пациента и разрабатываю персонализированную программу коррекции речи.</p>
        </div>
      </div>
      <div class="advantage">
        <div class="content">
          <h3>Профессионализм и опыт</h3>
          <p>У меня большой опыт с детьми и взрослыми с различными речевыми нарушениями, что позволяет мне эффективно помогать каждому.</p>
        </div>
      </div>
      <div class="advantage">
        <div class="content">
          <h3>Поддержка и понимание</h3>
          <p>Я предоставляю не только профессиональное лечение, но и эмоциональную поддержку и понимание, что помогает пациентам чувствовать себя комфортно и уверенно.</p>
        </div>
      </div>
      <div class="advantage">
        <div class="content">
          <h3>Креативность и инновации</h3>
          <p>Я постоянно ищу новые методики и подходы к работе, чтобы обеспечить наилучшие результаты для своих пациентов.</p>
        </div>
      </div>
      <div class="advantage">
        <div class="content">
          <h3>Результаты</h3>
          <p>Благодаря моему тщательному подходу и постоянной работе над собой, мои пациенты достигают заметных улучшений в своей речи и общении.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="services-section2" style="background-image: url('{% static 'img/фон3.PNG' %}');">
    <div class="services-container2">
      <h2 class="section-title" style="margin-bottom: 20px;">Услуги</h2>
      <hr class="underline" style="margin-bottom: 20px;">
      <div class="services-grid2">
        <div class="service-card2">
          <h3>Постановка, автоматизация, дифференциация звуков</h3>
        </div>
        <div class="service-card2">
          <h3>Артикуляционная гимнастика</h3>
        </div>
        <div class="service-card2">
          <h3>Логопедический массаж</h3>
        </div>
      </div>
      <a href="{% url 'services' %}" class="btn">Еще</a>
    </div>
  </section>

  <section class="certificatee-section" style="background-image: url('{% static 'img/фон2.PNG' %}');">
    <div class="section-title">
      <h2>Мои достижения</h2>
      <hr class="underline">
    </div>
    <div class="certificatee-gallery">
      <div class="certificatee-item">
        <img src="{% static 'img/серт1.jpg' %}" alt="Сертификат 1">
      </div>
      <div class="certificatee-item">
        <img src="{% static 'img/серт2.jpg' %}" alt="Сертификат 2">
      </div>
      <div class="certificatee-item">
        <img src="{% static 'img/серт3.jpg' %}" alt="Сертификат 3">
      </div>
      <div class="certificatee-item">
        <img src="{% static 'img/серт4.jpg' %}" alt="Сертификат 4">
      </div>
      <div class="certificatee-item">
        <img src="{% static 'img/серт5.jpg' %}" alt="Сертификат 5">
      </div>
    </div>
<a href="{% url 'about' %}#certificate-section" class="btn1">Еще</a>
  </section>

<section class="gallery-section3" style="background-image: url('{% static 'img/фон3.PNG' %}');">
    <div class="section-title">
      <h2 class="gallery-section-title"> Так проходят наши занятия</h2>
    </div>
    <div class="underline"></div>
    <div class="gallery3">
      <img src="{% static 'img/ребенок 4.jpg' %}" alt="Photo 1">
      <img src="{% static 'img/ребенок 5.jpg' %}" alt="Photo 2">
      <img src="{% static 'img/ребенок 6.jpg' %}" alt="Photo 3">
      <img src="{% static 'img/ребенок 7.jpg' %}" alt="Photo 4">
    </div>
</section>

<section class="testimonial-section" style="background-image: url('{% static 'img/фон2.PNG' %}');">
    <div class="section-title">
      <h2 class="testimonial-section-title">Отзывы</h2>
      <hr class="underline">
    </div>
    <div class="testimonial-container">
      <div class="testimonial-slider">
        {% for testimonial in testimonials %}
        <div class="testimonial-slide">
          <p>{{ testimonial.text }}</p>
          <span>- {{ testimonial.author }}</span>
        </div>
        {% endfor %}
      </div>
      <button class="prev" onclick="prevSlide()">&#10094;</button>
      <button class="next" onclick="nextSlide()">&#10095;</button>
    </div>
   <a href="{% url 'contacts' %}#reviews-section" class="btn1">Еще</a>
  </section>

<section class="centered-section" style="background-image: url('{% static 'img/фон3.PNG' %}');">
    <h2 class="section-title">Задайте свой вопрос</h2>
    <div class="underline"></div>
    <form class="contact-form" id="contact-form" action="{% url 'index_question' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" id="full-name" name="full-name" placeholder="Введите ФИО" pattern="[A-Za-zА-Яа-яЁё\s]+" title="Введите только буквы" required>
        </div>
        <div class="form-group">
            <input type="email" id="email" name="email" placeholder="Введите email" required>
        </div>
        <div class="form-group">
            <textarea id="message" name="message" placeholder="Введите ваше сообщение" minlength="10" required></textarea>
        </div>
        <div class="form-group">
            <input type="checkbox" id="agree" name="agree" required>
            <label for="agree"> Я даю согласие на обработку моих персональных данных в соответствии с <a href="{% url 'privacy_policy' %}" target="_blank" rel="noopener noreferrer">Политикой конфиденциальности</a></label>
        </div>
        <button type="submit" class="submit-button">Отправить</button>
    </form>
{% if messages %}
<div class="messages-container">
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
</div>
{% endif %}
</section>

{% block scripts %}
   <script src="{% static 'js/form2.js' %}"></script>
  <script src="{% static 'js/slider.js' %}"></script>
  <script src="{% static 'js/stati3.js' %}"></script>
  <script src="{% static 'js/photo.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock %}{% endblock %}