{% extends 'base.html' %}

{% block content %}
<section class="privacy-policy">
    <h1>Политика конфиденциальности</h1>
    <div class="underline"></div>

    <h2>Введение</h2>
    <p>Настоящая Политика конфиденциальности регулирует порядок обработки и защиты персональных данных, предоставляемых Пользователями при использовании сайта.</p>

    <h2>Сбор и использование персональных данных</h2>
    <p>Мы собираем следующие персональные данные Пользователей:</p>
    <ul>
        <li>Имя</li>
        <li>Электронная почта</li>
        <li>Номер телефона</li>
    </ul>
    <p>Мы используем эти данные для связи с Пользователями, предоставления услуг и улучшения нашего сервиса.</p>

    <h2>Защита персональных данных</h2>
    <p>Мы принимаем необходимые организационные и технические меры для защиты персональных данных Пользователей от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий.</p>

    <h2>Передача персональных данных</h2>
    <p>Мы не передаем персональные данные Пользователей третьим лицам, за исключением случаев, предусмотренных законодательством.</p>

    <h2>Изменение Политики конфиденциальности</h2>
    <p>Мы оставляем за собой право вносить изменения в настоящую Политику конфиденциальности. Новая редакция Политики вступает в силу с момента ее размещения на сайте.</p>

    <h2>Контактная информация</h2>
    <p>Если у вас есть вопросы или предложения по поводу настоящей Политики конфиденциальности, вы можете связаться с нами по адресу: example@example.com</p>
</section>
{% endblock %}