{% extends 'layout.html' %}
{% load static %}

{% block title %}Политика безопасности{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
  <section class="privacy-policy">
    <h1>Политика безопасности</h1>
    <div class="underline"></div>

<p>Я, Шаповалова Елена Николаевна, логопед, серьезно отношусь к защите вашей личной информации. Эта политика конфиденциальности объясняет, как я собираю, использую, раскрываю и защищаю вашу личную информацию.</p>

<h2>Сбор и использование личной информации</h2>
<p>Я собираю следующую личную информацию о моих клиентах:</p>
<ul>
    <li>Имя и контактные данные (электронная почта)</li>
    <li>Информация о состоянии здоровья и медицинская история, связанная с оказанием логопедических услуг</li>
    <li>Информация о посещениях и проведенных процедурах</li>
</ul>
<p>Я использую эту информацию для:</p>
<ul>
    <li>Предоставления логопедических услуг и ведения медицинской документации</li>
    <li>Связи с вами по вопросам, касающимся вашего лечения</li>
    <li>Улучшения качества моих услуг</li>
</ul>

<h2>Раскрытие личной информации</h2>
<p>Я не буду раскрывать вашу личную информацию третьим лицам, за исключением случаев, когда это необходимо для оказания вам логопедических услуг или когда этого требует закон. Например, я могу раскрывать информацию вашему лечащему врачу или страховой компании.</p>

<h2>Защита личной информации</h2>
<p>Я принимаю все необходимые меры для защиты вашей личной информации от несанкционированного доступа, использования или раскрытия. Это включает в себя физические, электронные и процедурные меры безопасности.</p>

<h2>Ваши права</h2>
<p>Вы имеете право доступа к своей личной информации, которую я храню, и вносить в нее изменения при необходимости. Вы также можете запросить удаление или ограничение использования вашей информации. Для этого обращайтесь ко мне по контактным данным, указанным ниже.</p>

<h2>Контактная информация</h2>
<p>Если у вас есть какие-либо вопросы или опасения по поводу моей политики конфиденциальности, пожалуйста, свяжитесь со мной:</p>
<p>Шаповалова Елена, логопед<br>
г.Новочеркасск, р-н Молодежный, Речная 38<br>
+7(908)506-86-97<br>
logopedelenanovocherkassk@gmail.com</p>
  </section>
{% endblock %}