header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fed3f4;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.logo img {
  height: 40px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}



.appointment {
  display: flex;
  align-items: center;
}

.appointment a {
  text-decoration: none;
  color: #CA8CCD;
  font-size: 14px;
  padding: 8px 16px;
  border: 2px solid #CA8CCD;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 70px; /* Добавляем отступы справа и слева */
}

.appointment a:hover {
  background-color: #CA8CCD;
  color: white;
}




@media only screen and (max-width: 768px) {
  .logo img {
      height: 30px;
  }

  nav ul {
      flex-direction: column;
  }

  nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .logo img {
      height: 30px;
  }

  nav ul {
      flex-direction: column;
  }

  nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
  }
}
nav ul li a:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #3D5F31; /* Цвет палочки */
}

.about-me {
  background-image: url('./фон2.PNG');
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  color: #000000;
  text-align: center;
  height: 100vh; /* Устанавливаем высоту секции на 100% видимой области страницы */
  display: flex;
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    flex: 1;
    max-width: 600px;
    text-align: left;
}

.text h2 {
    border-bottom: 2px solid #3D5F31;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.text p {
    margin-bottom: 20px;
}

.text ul {
    list-style-type: none;
    padding-left: 0;
}

.text ul li {
    margin-bottom: 10px;
}

.photo img {
    margin-left: 50px;
    max-width: 320px;
    border-radius: 40px;
  
}



.certificate-section {
  text-align: center;
  background-image: url("./фон3.PNG");
  background-size: cover; /* чтобы фон занимал всю доступную область */
  background-position: center; /* чтобы фон был выровнен по центру */
  padding: 50px 0; /* добавляем немного отступов сверху и снизу */
}


.certificate-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.certificate-gallery .certificate-item {
  margin: 10px;
  border: 5px solid #000000; /* Добавляем рамку */
  border-radius: 5px;
}

.certificate-item img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

.certificate-item img.active {
  width: 400px; /* Увеличение ширины активного изображения */
}
/* Добавьте стили для модального окна */
#modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#3D5F31;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #3D5F31;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}



.underline {
  width: 100px;
  height: 3px;
  background-color: #3D5F31;
  border: none;
  margin-top: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.title1{
  margin-top: -40px;
 }




 footer {
  display: flex;
  justify-content: space-between;
  background-color: #fed3f4;
  padding: 20px;
  margin-bottom: -60px;
  
}

.footer-column {
  width: 20%;
}

.footer-column img {
  max-width: 40%;
  height: auto;
}

.social-icons img {
  width: 30px;
  margin-right: 10px;
} 




.about-me-section {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.about-me-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-me-title {
  margin-bottom: 20px;;
  height: 10px;
  margin-top: 20px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
font-size: 26px;

}


.about-me-text {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
margin-right: 100px;

}
.underline1 {
  width: 100px;
  height: 3px;
  background-color: #3D5F31;
  border: none;
  margin-top: 35px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.advantages {
  column-count: 2; /* Разбиваем контейнер на две колонки */
  column-gap: 20px; /* Задаем расстояние между колонками */
  margin-top: 10px;
}

.advantage-card {
  break-inside: avoid-column; /* Предотвращаем разбиение карточек на разные колонки */
  background-color: #ffffff;
  border-radius: 10px;
  padding: 35px;
  box-shadow: 0px 0px 10px #e3dbdb;
  transition: transform 0.3s ease;
  transform-origin: center center;
  margin-bottom: 20px; /* Отступ между карточками */
}

.advantage-card p {
  font-size: 15px;
  margin: 0;
}

.advantage-card:hover {
  transform: scale(0.9);
}


.photo-frame {

  max-width: 500px; /* Максимальная ширина рамки */
  max-height: 497px; /* Максимальная высота рамки */
  margin-top: -500px; /* Увеличиваем отрицательный отступ, чтобы поднять фото выше */
  margin-left: 800px;
}


.photo-frame img {
  width: 380px; /* Фото будет занимать всю доступную ширину в рамке */
  max-width: 380px; /* Фото не будет превышать ширину рамки */
  height: auto; /* Высота будет автоматически рассчитана, чтобы сохранить пропорции */
}

