body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: normal;
}

p {
  margin-bottom: 20px;
}

.gallery-section3 .caption3 {
  font-weight: normal;
}

.centered-section h2 {
  font-weight: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fed3f4;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-sizing: border-box;
}

.logo {
  flex-shrink: 0;
  max-width: 20%;
}

.logo img {
  height: 40px;
}

nav {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  max-width: 60%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  white-space: nowrap;
}

nav ul li {
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #3D5F31;
  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

.appointment {
  flex-shrink: 0;
  max-width: 20%;
  margin-left: auto;
}

.appointment a {
  text-decoration: none;
  color: #CA8CCD;
  font-size: 14px;
  padding: 8px 16px;
  border: 2px solid #CA8CCD;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.appointment a:hover {
  background-color: #CA8CCD;
  color: #fff;
}
nav {
  display: flex !important;
  justify-content: center;
  flex-grow: 0;
  max-width: 60%;
  margin-left: 352px !important;
}


@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: #fed3f4;
  padding: 20px;
  margin-bottom: -60px;
}

.footer-column {
  width: 20%;
}

.footer-column img {
  max-width: 40%;
  height: auto;
}

.social-icons img {
  width: 30px;
  margin-right: 10px;
}
  .logo1-container {
    order: 0; /* Логотип возвращен в исходное положение */
    margin-bottom: 0; /* Отступ снизу для логотипа убран */
    justify-content: flex-start; /* Логотип слева в десктопной версии */
  }

.logo1 img{
width: 90px;
}

.footer-column {
  flex-basis: 25%;
  padding: 0 20px;
}

.footer-column h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column p {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-column a {
  color: #333;
  text-decoration: none;
}

.footer-column a:hover {
  color: #3D5F31;
}



.button1:hover {
  background-color: #A566B0;
}

.welcome-section {
  position: relative;
  background-image: url('{% static "img/фон.png" %}');
  background-size: cover;
  background-position: center;
  padding: 80px 115px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: #000000;
  height: 100vh;
}

.welcome-text {
  font-size: 31px;
  text-align: left;
  color: #434040;
  margin-top: -45px;
  max-width: 800px;
  padding-right: 40px;
  margin-left: 28px;
}

.welcome-text h1.section-title {
  font-size: 40px;
  margin-bottom: 20px;
   text-align: left;
}

.welcome-text p {
  font-size: 29px;
  margin-bottom: 20px;
   text-align: left;
}

.button1 {
  padding: 15px 40px;
  border: none;
  text-decoration: none;
  background-color: #3D5F31;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  top: 20px;
   text-align: left;
}

.image-container {
  width: 100%;
  height: auto;
  margin-left: 41px;
}

.image-container img {
  max-width: 90%;
  height: auto;
}

/* Underline */
.underline {
  width: 100px;
  height: 3px;
  background-color: #3D5F31;
  border: none;
  margin-top: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}






.featured-articles {
  background-image: url('{% static 'img/фон2.PNG' %}');
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}

.title7 {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 5px;
}

.title7 h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000000; /* Изменили цвет на черный */
}

.underline7 {
  width: 100px;
  height: 3px;
  background-color: #3D5F31;
  border: none;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}



.article {
  position: relative;
  width: 220px;
  height: 220px; /* Уменьшаем высоту статей */
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  border: 3px solid #3D5F31;
  padding: 20px;
}

.article img {
  width: 110%;
  height: 110%;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  text-align: center;
  padding-bottom: 20px; /* Увеличиваем отступ снизу */
}

.caption h3 {
  font-size: 16px;
  margin-bottom: 5px; /* Убираем отступ снизу у заголовка */
  padding: 0 20px;
}
.caption a {
  color: #3D5F31;
  text-decoration: none;

}

.other-articles {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 10px; /* Расстояние между статьями */
    text-align: center;
    margin-top: 20px;
    position: relative; /* Добавляем относительное позиционирование */
}

.buttons-container {
    position: absolute;
    bottom: -50px; /* Смещаем кнопки вниз */
    left: 50%;
    transform: translateX(-50%); /* Центрируем кнопки по горизонтали */
}

#showMoreButton,
#hideButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3D5F31;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
}

#showMoreButton:hover,
#hideButton:hover {
    background-color: #A566B0;
}

#hideButton {
    display: none;
}





 .advantages {
    background-image: url('./фон2.PNG');
    background-size: cover;
    padding: 50px 0;
    color: #000000;
    text-align: center;

  }

  .container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .advantage {
    flex: 0 0 calc(33.3333% - 20px);
    margin: 20px;
    background-color: #fed3f4;
    padding: 20px;
    border-radius: 10px;

  }


  .circle, .advantage {
    display: inline-block;
  }
  .advantage:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
  }





.services-section2 {
  padding: 50px 0;
  text-align: center;
  color: #000000;
}

.services-container2 {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 40px; /* Добавлен отступ снизу */
}

.services-grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service-card2 {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.service-card2:hover {
  transform: translateY(-5px);
}

.service-card2 h3 {
  font-size: 18px;
  margin: 0;
}







.certificate-section {
  text-align: center;
  background-image: url("./фон2.PNG");
  background-size: cover; /* чтобы фон занимал всю доступную область */
  background-position: center; /* чтобы фон был выровнен по центру */
  padding: 50px 0; /* добавляем немного отступов сверху и снизу */
}


.certificate-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.certificate-gallery .certificate-item {
  margin: 10px;
  border: 5px solid #000000; /* Добавляем рамку */
  border-radius: 5px;
}

.certificate-item img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}


.gallery-section3 {
  text-align: center;
  padding: 50px 0;
  background-image: url('./фон3.PNG');
}

.gallery3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
}

.gallery3 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}


.caption3 {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}



.testimonial-section {
  background-image: url('./фон2.PNG'); /* Замените 'background.jpg' на ваше изображение */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0;
  margin-top: 100px;
}


.testimonial-container {
  max-width: 1000px; /* Увеличили ширину контейнера */
  margin: 0 auto;
  position: relative;

}

.testimonial-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.testimonial-slide {
  min-width: 500px;
  scroll-snap-align: start;
  padding: 20px;
  text-align: center; /* Выравнивание текста по центру */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #fed3f4;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev img,
.next img {
  width: 24px; /* Размер иконок стрелок */
  height: 24px;
}



 .section-background {
    background-image: url('./фон2.PNG');
    background-size: 1500px; /* Растягиваем изображение на всю область */
    background-position: center; /* Выравниваем изображение по центру */
    margin-top: -60px;
  }
.title7{
  margin-left: 260px;
}


.centered-section {
  background-image: url('{% static 'img/фон3.PNG' %}');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 60px 0; /* Увеличиваем отступ сверху */
  margin-top: -50px;

}

.centered-section h2 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px; /* Уменьшаем отступ снизу */
}

.underline {
  width: 100px;
  height: 3px;
  background-color: #3D5F31;
  border: none;
  margin-bottom: 30px; /* Увеличиваем отступ снизу */
}

.contact-form {
  background-color: #fed3f4;
  max-width: 450px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.contact-form .form-group {
  margin-bottom: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form label {
  display: block;
  font-size: 14px;
  color: #999;
  margin-bottom: 3px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 12px;
  color: #999;
  outline: none;
  color: #333; /* Устанавливаем черный цвет текста */
}

.contact-form textarea {
  height: 70px;
  resize: none;
}

.contact-form button.submit-button {
  width: 160px;
  background-color: #3D5F31;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  margin-top: 0;
}

.contact-form button.submit-button:hover {
  background-color: #A566B0;
}

.contact-form .form-group input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #3D5F31;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-right: 6px;
  position: static;
  left: auto;
  margin-top: 0;
}

.contact-form .form-group input[type="checkbox"]:checked {
  background-color: #3D5F31;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.contact-form .form-group {
  display: flex;
  align-items: center;
}

.contact-form .form-group label {
  font-size: 14px;
  color: #999;
  display: inline;
  margin-left: 6px;
}

.contact-form .form-group label span {
  font-size: 14px;
}

.contact-form .form-group label a {
  color: #3D5F31;
  text-decoration: underline;
  transition: color 0.3s;
}

.contact-form .form-group label a:hover {
  color: #A566B0;
}

.messages {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.messages li {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.messages li.error {
    background-color: #f8d7da;
    color: #721c24;
}

.messages li.success {
    background-color: #d4edda;
    color: #155724;
}






.services {
  background-color: #f9f9f9;
  padding: 50px 0;
  background-image: url('./фон3.PNG');
}

.services-header {
  text-align: center;
  margin-bottom: 40px;
}

.underline {
  width: 100px;
  height: 4px;
  background-color: #3D5F31;
  margin: 0 auto 20px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px); /* Ширина карточки 33.33% */
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Выравнивание кнопок по нижнему краю */
}

.service-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.service-info {
  padding: 20px;
  flex-grow: 1;
}

.service-info h3 {
  margin-top: 0;
}

.service-info p {
  margin-bottom: 10px;
}

.button3 {
  margin-top: auto;
  width: 95%;
  padding: 10px;
  background-color: #3D5F31;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button3:hover {
  background-color: #CA8CCD;
}

 .appointment-section {
    background-image: url('./фон2.PNG'); /* Замените 'background-image.jpg' на путь к вашему фоновому изображению */
    background-size: cover;
    background-position: center;
    padding: 50px 0;

  }

  .section-title {
    text-align: center;
    margin-bottom: 10px;
  }



.appointment-section {
    background-image: url('./фон2.PNG');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 10px;
}

.underline {
    width: 100px;
    height: 2px;
    background-color: #3D5F31;
    margin: 0 auto 30px;
}

.appointment-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fed3f4;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.appointment-form .form-group {
    margin-bottom: 20px;
    position: relative;
}

.appointment-form label {
    display: block;
    font-size: 14px;
    color: #999;
    margin-bottom: 5px;
}

.appointment-form input,
.appointment-form select,
.appointment-form textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px; /* Закругляем края полей */
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 25px;
    color: #999; /* Устанавливаем светло-серый цвет текста */
    outline: none; /* Убираем обводку при нажатии */
}

.appointment-form input::placeholder,
.appointment-form textarea::placeholder {
    color: #999; /* Устанавливаем светло-серый цвет плейсхолдера */
}

.appointment-form textarea {
    height: 100px;
    resize: none;
}

.appointment-form button {
    width: 200px;
    background-color: #3D5F31;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 24px;
    display: block;
    margin: 0 auto;
}

.appointment-form button:hover {
    background-color: #A566B0;
}

.appointment-form select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 24px;
  padding-right: 30px;
}

.form-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.form-group input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #3D5F31;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  position: static;
  left: auto;
  margin-top: 10px; /* Опускаем чекбокс ниже */
}

.form-group input[type="checkbox"]:checked {
  background-color: #3D5F31;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

}

.form-group label {
  font-size: 19px;
  color: #999;
  display: inline;
  margin-left: 10px;
   margin-top: -10px; /* Опускаем чекбокс ниже */
}



.form-group label a {
  color: #3D5F31;
  text-decoration: underline;
  transition: color 0.3s;
}

.form-group label a:hover {
  color: #A566B0;
}

.appointment-form button {
    width: 150px; /* Уменьшаем ширину кнопки */
    background-color: #3D5F31;
    color: white;
    padding: 10px 16px; /* Уменьшаем отступы кнопки */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px; /* Уменьшаем размер шрифта кнопки */
    display: block;
    margin: 0 auto; /* Центрируем кнопку */
}

.appointment-form button:hover {
    background-color: #A566B0;
}


.contacts-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 130px 40px;
}

.contacts-info {
  width: 50%;
  font-size: 25px;
  color: #000000;
}

.contacts-info h2 {
  margin-top: 0;
  font-size: 24px;
}

.contact-address, .contact-email, .contact-location {
  color: #000;
}
.contact-address a,
.contact-email a,
.contact-location a {
  color: #333;
  text-decoration: none;
}

.contact-address a:hover,
.contact-email a:hover,
.contact-location a:hover {
  color: #3D5F31;
}
.map-container {
  width: 50%;
  height: 300px;
  margin-left: 40px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
}

.reviews {
  background-image: url('./фон3.PNG');
  background-size: cover;
  padding: 50px 40px;
  color: #000;
  text-align: center;
}

.title1 {
  margin-top: -20px;
}

.title1 h2 {
  color: #000;
}

.title1 .highlight-line {
  width: 100px;
  height: 3px;
  background-color: #3D5F31;
  border: none;
  margin-top: 5px;
  width: 100px;
}
.highlight-line1 {
  width: 100px;
  height: 3px;
  background-color: #3D5F31;
  border: none;
  margin-top: 5px;
  margin: 0 auto;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.review {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.user {
  margin-bottom: 10px;
  color: #000000;
}

.message {
  font-style: italic;
  color: #000000;
}


.highlight-line {
  width: 100px;
  height: 3px;
  background-color: #3D5F31;
  border: none;
  margin-top: 5px;
  width: 100px;
}



/* Секция "Сертификаты" */
.certificate-section {
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
}

.title1 {
  text-align: center;
  margin-bottom: 16px;
}

.title1 h2 {
  font-size: 24px;
}

.underline {
  width: 80px;
  height: 2px;
  background-color: #3D5F31;
  margin: 0 auto 24px;
}

.certificate-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.certificate-item {
  text-align: center;
}

.certificate-item img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #3D5F31;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.modal-content img {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}



.underline {
  width: 100px;
  height: 3px;
  background-color: #3D5F31;
  border: none;
  margin-top: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.title1{
  margin-top: -40px;
 }


























.testimonial-section {
  background-image: url('{% static 'img/фон2.PNG' %}');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px; /* Добавляем отступ снизу */
   margin-top: -5px
}

.gallery-section3 {
  text-align: center;
  padding: 50px 0;
  background-image: url('{% static 'img/фон3.PNG' %}');
  margin-top: -10px; /* Поднимаем секцию "Посмотрите, как проходят наши занятия" */
}

.caption3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.swiper-container {
  max-width: 600px; /* Ширина слайдера */
  margin: 0 auto;
}




.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: calc(50% + 15px); /* Установка вертикального положения кнопок */
  width: 30px; /* Ширина кнопок */
  height: 30px; /* Высота кнопок */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
  z-index: 10;
}

.swiper-button-prev {
  left: 10px; /* Позиция кнопки "назад" */
}

.swiper-button-next {
  right: 10px; /* Позиция кнопки "вперед" */
}



.btn {
  margin: 10px auto 0;
  margin-top: 20px; /* Опускаем кнопку ниже */
  width: 220px;
  padding: 10px 20px;
  background-color: #3D5F31;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Убираем подчеркнутую линию */
  display: block; /* Делаем кнопку блочным элементом, чтобы она занимала всю ширину */
}

.btn:hover {
  background-color: #A566B0;
}
.btn1 {
  margin: 20px auto 0;
  margin-top: 20px; /* Опускаем кнопку ниже */
  width: 220px;
  padding: 10px 20px;
  background-color: #3D5F31;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Убираем подчеркнутую линию */
  display: block; /* Делаем кнопку блочным элементом, чтобы она занимала всю ширину */
}

.btn1:hover {
  background-color: #A566B0;
}

.underline1 {
  width: 100px;
  height: 3px;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


  background-color: #3D5F31;
  border: none;
  margin-top: 20px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}





.certificate-section {
  text-align: center;
  background-image: url("./фон3.PNG");
  background-size: cover; /* чтобы фон занимал всю доступную область */
  background-position: center; /* чтобы фон был выровнен по центру */
  padding: 50px 0; /* добавляем немного отступов сверху и снизу */
}


.certificate-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.certificate-gallery .certificate-item {
  margin: 10px;
  border: 5px solid #000000; /* Добавляем рамку */
  border-radius: 5px;
}

.certificate-item img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

.certificate-item img.active {
  width: 400px; /* Увеличение ширины активного изображения */
}
/* Добавьте стили для модального окна */
#modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#3D5F31;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #3D5F31;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}



.underline {
  width: 100px;
  height: 3px;
  background-color: #3D5F31;
  border: none;
  margin-top: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.title1{
  margin-top: -40px;
 }


.certificate-section .title1 h2 {
  font-size: 24px;
  font-weight: normal;
  padding-top: 20px;
}

.gallery-section3 .section-title h2 {
  font-size: 24px;
  font-weight: normal;
  padding-top: 20px;
}

.testimonial-section .section-title h2 {
  font-size: 24px;
  font-weight: normal;
  padding-top: 20px;
}

.centered-section h2 {
  font-size: 24px;
  font-weight: normal;
  padding-top: 20px;
}

.messages-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.messages {
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.messages div {
  margin-bottom: 5px;
}

.messages .success {
  color: green;
}

.messages .error {
  color: red;
}





.privacy-policy {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.privacy-policy h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.privacy-policy h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: left;
}

.privacy-policy p,
.privacy-policy li {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

/* mobile-privacy-policy.css */

@media (max-width: 767px) {
  .privacy-policy {
    padding: 20px;
  }

  .privacy-policy h1 {
    font-size: 28px;
  }

  .privacy-policy h2 {
    font-size: 24px;
  }

  .privacy-policy p,
  .privacy-policy li {
    font-size: 16px;
  }
}




.about-me-section {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.about-me-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.about-me-text-container {
  width: 50%;
  padding: 60px 40px; /* Увеличили отступ сверху */
  box-sizing: border-box;

}

.about-me-photo-container {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  overflow: hidden;
      left: 5%;
}

.about-me-title {
font-size: 28px;
margin-bottom: 10px;
text-align: left;
}

.underline {
  width: 50px;
  height: 2px;
  background-color: #333;
  margin-bottom: 20px;
}

.about-me-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}


.advantage-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-top: -11%;
}

.advantage-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.advantage-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantage-list li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.advantage-list li::before {
  content: "\2022";
  color: #333;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
}

.background-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.photo-frame {
  z-index: 1;
  width: 80%;
  height: auto;
}

.photo-frame img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.underline {
  width: 100px;
  height: 3px;
  background-color: #3D5F31;
  border: none;
  margin-top: 5px;
  margin: 0 auto 24px;
}

.about-me-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}.advantages {
  margin-top: 20px;
}

.advantage-card {
  background-color: #fed3f4;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.advantage-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.advantage-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantage-list li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.advantage-list li::before {
  content: "\2022";
  color: #333;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
}

.title1 {
    margin-top: 36px;
}