body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/img/фон3.png');
    background-size: cover;
    background-position: center;
}

.article-detail {
    max-width: 900px;
    margin: 50px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 30px;
    font-weight: normal;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.article-content {
    font-size: 20px;
    line-height: 1.8;
    color: #555;
    text-align: justify;
    margin-bottom: 30px;
}

.article-detail img {
    display: block;
    width: 50%;
    max-width: 100%;
    margin: 30px auto;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавление тени */
}

.button-container {
    text-align: center;
    margin-top: 40px;
}

.back-button {
    display: inline-block;
    background-color: #3D5F31;
    color: white;
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #669966; /* Цвет хедера, замените на ваш точный цвет */
}

@media (max-width: 768px) {
    .article-detail {
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }

    .article-content {
        font-size: 16px;
    }

    .article-detail img {
        width: 70%;
    }

    .back-button {
        font-size: 16px;
        padding: 15px 30px;
    }
}
